@model DocumentViewModel


<table class="table table-striped table-hover">
    <thead>

        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model.Documents)
        {
            <tr>

                <th scope="row">@item.Id</th>

                <td>@item.Title</td>

            </tr>
        }
    </tbody>

</table>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Yüklediğiniz Fotoğraf</h2>
        <img class="img-fluid" id="preview" src="" alt="Önizleme" style="display:none; width="40%" />

      @*   @if (Model.FileContent != null)
        {
            <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.FileContent)" alt="Uploaded Image" width="50%" />            
        } *@

    </div>
</div>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Fotoğraf Yükleyiniz</h2>

        <form asp-controller="Test" asp-action="UploadImage" method="post" enctype="multipart/form-data">

            <div class="row mb-3">
                <label class="col-md-4 col-form-label">Fotoğraf yükleyin:</label>
                <div class="col-md-8">
                    <input class="form-control" id="fileUpload" type="file" name="file" />
                </div>
            </div>


            <div class="row mb-3">

                <div class="col-md-8 offset-md-4">
                    <button type="submit" class="btn btn-primary">Yükle</button>
                </div>
            </div>
        </form>

    </div>
</div>

@if (Model.RoboflowResponse != null)
{
    <div class="text-center">
        <h1 class="display-6">Sonuç</h1>

        <ul>
            <li>Bitki No :  @Model.RoboflowResponse.ClassId</li>
            <li>Eşleşme oranı : %@Model.RoboflowResponse.Confidence</li>
            <li>Bitki Adı :  @Model.RoboflowResponse.PlantName</li>
        </ul>

    </div>
}



<script>
    document.getElementById('fileUpload').addEventListener('change', function (event) {
        var reader = new FileReader();
        reader.onload = function (e) {
            var preview = document.getElementById('preview');
            preview.src = e.target.result;
            preview.style.display = 'block';
        };
        reader.readAsDataURL(event.target.files[0]);
    });
</script>