@{
    ViewData["Title"] = "Şifre Değiştir";
}

@model ChangePasswordViewModel




<link href="~/css/custom_css/member/change-password.css" rel="stylesheet" />



<div id="box">
    
    @if (TempData["SuccessMessage"] as bool? ?? false)
    {
        <div class="ui success message">
            <i class="close icon"></i>
            <div class="header">
                Harika!
            </div>
            <div class="mt-2">
                <p>Şifreniz başarıyla değiştirildi.</p>
            </div>
        </div>
        <script>
        setTimeout(function() {
            window.location.href = '@Url.Action("Index", "Home")'; 
        }, 3000); 
    </script>
    }


    <div asp-validation-summary="ModelOnly" class="alert alert-warning alert-dismissible fade show d-flex align-items-center mt-2" role="alert">
        <i class="bi bi-exclamation-triangle-fill"></i>
        <span class="ms-4">
        </span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <form id="myform-search" asp-controller="Member" asp-action="ChangePassword" method="post" autocomplete="off"/>
    <h1>Şifre Değiştir
        <span>Lütfen güçlü bir şifre oluşturun.</span>
    </h1>
    <form>
        <p>
            <input type="password" value="" placeholder="Eski şifre" id="old-password" class="password" asp-for="OldPassword" required>
            <i class="bi bi-lock-fill"></i>
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </p>
        <p>
            <input type="password" value="" placeholder="Yeni şifre" id="new-password" class="password" asp-for="NewPassword" required>
           <i class="bi bi-lock-fill"></i>
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </p>
        <p>
            <input type="password" value="" placeholder="Şifre tekrar" id="confirm-password" class="password" asp-for="ConfirmPassword" required>
           <i class="bi bi-lock-fill"></i>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

            <div id="strong">
                <span></span>
            </div>
            <div id="valid"></div>
            <small>Şifreniz en az 6 karakter olmalı, büyük/küçük harf ve 1 özel karakter içermelidir.</small>

        </p>

        <div class="text-center">
            <button type="submit" class="ui green button">Güncelle</button>
        </div>
    </form>
</div>





@* ClientSide V.  *@

@section Scripts
    {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<script src="~/js/custom_js/member/change-password.js"></script>

                
