@{
    ViewData["Title"] = "Admin - Dashboard";
}

<div class="text-center mb-5">
    <h1 class="fw-light">Admin Anasayfa</h1>
</div>

<div class="container">


    <div class="row">

        <a class="col-md-3 text-center mb-4 hover" asp-area="Admin" asp-controller="Dashboard" asp-action="GetAllDocuments">
            <div class=" rounded-1 bg-danger text-white fs-5 py-4">
                Tüm resimleri görüntüle
            </div>
            
        </a>
        
        <a class="col-md-3 text-center mb-4 hover" asp-area="Admin" asp-controller="Dashboard" asp-action="GetAllUsers">
            <div class=" rounded-1 bg-primary text-white fs-5 py-4">
                Tüm kullanıcılar
            </div>
        </a>
        
        

    </div>
</div>