@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4">Hoş geldiniz!</h1>
</div>
 *@
<link href="~/css/custom_css/home/index.css" rel="stylesheet" />
<link rel="icon" href="~/css/icons/imagens/favicon-travel.svg" />
<link rel="apple-touch-icon" href="~/css/icons/imagens/favicon-travel.svg" />

<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />


<body>
    <header class="header">
        <a asp-controller="Home" asp-action="Index" class="brand">Bitki Net</a>
        <div class="menu-btn">
            <!-- <img class="menu-btn_img" src="assets/imagens/menu-alt.svg" alt="menu button"> -->
        </div>
        <div class="navegation">
            <div class="navegation-items">
                <a asp-controller="Home" asp-action="SignUp">Home</a>
                <a href="#">About</a>
                <a href="#">Explore</a>
                <a href="#">Gallery</a>
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-controller="Member" asp-action="Index">Hesabım</a>
                }
            </div>
        </div>
    </header>

    <section class="home">
        <video src="~/videos/video4-roadTrip.mp4" class="video-slide active" autoplay muted loop></video>

        <video src="~/videos/video2-campingJoy.mp4" class="video-slide" autoplay muted loop></video>

        @*  <video src="~/videos/video3-adventureOffRoad.mp4" class="video-slide" autoplay muted loop></video> *@

        <video src="~/videos/video5-feelNature.mp4" class="video-slide" autoplay muted loop></video>
        <video src="~/videos/video5-walkingChild.mp4" class="video-slide" autoplay muted loop></video>


        <div class="content active">
            <h1>DOĞANIN SIRLARINA<br><span>YOLCULUK</span></br></h1>
            <p>Çiçekler, yapraklar, dallar... Her yeşilin bir hikayesi var. Bu hikayeleri keşfetmen için yanında olacağız.</p>

            @if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="Plant" asp-action="Index" id="btn-home">Şimdi keşfe başla!</a>
            }
            else
            {
                <a asp-controller="Home" asp-action="SignUp" id="btn-home">Şimdi üye ol!</a>
                <a asp-controller="Home" asp-action="SignIn" id="btn-home" class="ms-4">Hesabım var</a>
            }
        </div>

        <div class="content">
            <h1>HER YÜRÜYÜŞ<br><span>BİR KEŞİF</span></br></h1>
            <p>Doğa yürüyüşlerinde yanında olmak için buradayız. Yolda karşılaştığın bitkilerin fotoğraflarını çek, hemen tanımaya başlayalım!</p>



            @if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="Plant" asp-action="Index" id="btn-home">Şimdi keşfe başla!</a>
            }
            else
            {
                <a asp-controller="Home" asp-action="SignUp" id="btn-home">Şimdi üye ol!</a>
                <a asp-controller="Home" asp-action="SignIn" id="btn-home" class="ms-4">Hesabım var</a>
            }


        </div>

        <div class="content">
            <h1>BİTKİLERLE TANIŞMA<br><span>ZAMANI</span></br></h1>
            <p>Her bir yaprak, kendine has bir dünya sunar. Fotoğrafını çek, bizimle paylaş; senin için hangi bitki olduğunu tüm detaylarıyla söyleyelim!</p>

            @if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="Plant" asp-action="Index" id="btn-home">Şimdi keşfe başla!</a>
            }
            else
            {
                <a asp-controller="Home" asp-action="SignUp" id="btn-home">Şimdi üye ol!</a>
                <a asp-controller="Home" asp-action="SignIn" id="btn-home" class="ms-4">Hesabım var</a>
            }
        </div>
        <div class="content">
            <h1>YEŞİLİN DİLİNİ<br><span>ÇÖZ</span></br></h1>
            <p>Yürüyüşte, parkta ya da bahçende... Hangi bitkinin peşindesin? Fotoğrafını çek, hemen tanıyalım!</p>

            @if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="Plant" asp-action="Index" id="btn-home">Şimdi keşfe başla!</a>
            }
            else
            {
                <a asp-controller="Home" asp-action="SignUp" id="btn-home">Şimdi üye ol!</a>
                <a asp-controller="Home" asp-action="SignIn" id="btn-home" class="ms-4">Hesabım var</a>
            }
        </div>
        @* <div class="content">
            <h1>Feel Nature.<br><span>Relax</span></br></h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam eveniet voluptatum consectetur quae similique animi alias natus! Voluptates, illum aut quae, enim, veritatis iusto ducimus dolores minima vitae totam rerum.</p>

            @if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="Plant" asp-action="Index" id="btn-home">Şimdi keşfe başla!</a>
            }
            else
            {
                <a asp-controller="Home" asp-action="SignUp" id="btn-home">Şimdi üye ol!</a>
            }
        </div> *@
        

        <div class="media-icons">
            <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
        

        <div class="slider-navegation">
            <div class="nav-btn active"></div>
            <div class="nav-btn"></div>
            <div class="nav-btn"></div>
            <div class="nav-btn"></div>
            @* <div class="nav-btn"></div> *@
        </div>
    </section>

    <script src="~/js/custom_js/home/index.js"></script>
</body>















