@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4">Hoş geldiniz!</h1>
</div>
 *@
<link href="~/css/custom_css/home/index.css" rel="stylesheet" />
<link rel="icon" href="~/css/icons/imagens/favicon-travel.svg" />
<link rel="apple-touch-icon" href="~/css/icons/imagens/favicon-travel.svg" />

<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />


<body>
    <header class="header">
        <a asp-controller="Home" asp-action="Index" class="brand">Plant Identification</a>
        <div class="menu-btn">
            <!-- <img class="menu-btn_img" src="assets/imagens/menu-alt.svg" alt="menu button"> -->
        </div>
        <div class="navegation">
            <div class="navegation-items">
                <a asp-controller="Home" asp-action="SignUp">Home</a>
                <a href="#">About</a>
                <a href="#">Explore</a>
                <a href="#">Gallery</a>
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-controller="Member" asp-action="Index">Hesabım</a>
                }
            </div>
        </div>
    </header>

    <section class="home">

        <video src="~/videos/video2-campingJoy.mp4" class="video-slide active" autoplay muted loop></video>

        @*  <video src="~/videos/video3-adventureOffRoad.mp4" class="video-slide" autoplay muted loop></video> *@
        <video src="~/videos/video4-roadTrip.mp4" class="video-slide" autoplay muted loop></video>
        <video src="~/videos/video5-feelNature.mp4" class="video-slide" autoplay muted loop></video>
        <video src="~/videos/video1-wonderfulIsland.mp4" class="video-slide" autoplay muted loop></video>

        <div class="content active">
            <h1>DOĞAYI<br><span>KEŞFET</span></br></h1>
            <p>Nerde olursan ol! Kampta, tatilde, seyahatte.. Dilediğin an, dilediğin yerde fotoğrafını çek ve doğayı daha yakından tanımaya başla.</p>

           
            
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="Plant" asp-action="Index" id="btn-home" >Şimdi keşfe başla!</a>
            }
            else
            {
                <a asp-controller="Home" asp-action="SignUp" id="btn-home">Şimdi üye ol!</a>
            }
            

        </div>
        <div class="content">
            <h1>Camping.<br><span>Enjoy</span></br></h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam eveniet voluptatum consectetur quae similique animi alias natus! Voluptates, illum aut quae, enim, veritatis iusto ducimus dolores minima vitae totam rerum.</p>
           
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="Plant" asp-action="Index" id="btn-home" >Şimdi keşfe başla!</a>
            }
            else
            {
                <a asp-controller="Home" asp-action="SignUp" id="btn-home">Şimdi üye ol!</a>
            }
        </div>
        <div class="content">
            <h1>Adventures.<br><span>Off Road</span></br></h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam eveniet voluptatum consectetur quae similique animi alias natus! Voluptates, illum aut quae, enim, veritatis iusto ducimus dolores minima vitae totam rerum.</p>
            
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="Plant" asp-action="Index" id="btn-home" >Şimdi keşfe başla!</a>
            }
            else
            {
                <a asp-controller="Home" asp-action="SignUp" id="btn-home">Şimdi üye ol!</a>
            }
        </div>
        <div class="content">
            <h1>Road Trip.<br><span>Together</span></br></h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam eveniet voluptatum consectetur quae similique animi alias natus! Voluptates, illum aut quae, enim, veritatis iusto ducimus dolores minima vitae totam rerum.</p>
            
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="Plant" asp-action="Index" id="btn-home" >Şimdi keşfe başla!</a>
            }
            else
            {
                <a asp-controller="Home" asp-action="SignUp" id="btn-home">Şimdi üye ol!</a>
            }
        </div>
        <div class="content">
            <h1>Feel Nature.<br><span>Relax</span></br></h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam eveniet voluptatum consectetur quae similique animi alias natus! Voluptates, illum aut quae, enim, veritatis iusto ducimus dolores minima vitae totam rerum.</p>
           
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="Plant" asp-action="Index" id="btn-home" >Şimdi keşfe başla!</a>
            }
            else
            {
                <a asp-controller="Home" asp-action="SignUp" id="btn-home">Şimdi üye ol!</a>
            }
        </div>

        <div class="media-icons">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
        <div class="slider-navegation">
            <div class="nav-btn active"></div>
            <div class="nav-btn"></div>
            <div class="nav-btn"></div>
            <div class="nav-btn"></div>
            @* <div class="nav-btn"></div> *@
        </div>
    </section>

    <script src="~/js/custom_js/home/index.js"></script>
</body>















