#fidan-burada-price-result {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem; /* Kartlar arasýndaki boþluk */
}

    #fidan-burada-price-result .card-wrapper {
        flex: 1 1 18rem; /* Kartlarýn minimum geniþliði 18rem, esnek geniþleme */
        max-width: 18rem; /* Kartlarýn maksimum geniþliði 18rem */
        margin-bottom: 1rem; /* Alt boþluk */
    }

.card-wrapper .card {
    width: 100%;
    border: 1px solid rgba(0, 128, 0, 0.25);
    border-radius: .25rem;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s;
}

    .card-wrapper .card:hover {
        transform: scale(1.05); /* Hover durumunda büyüme efekti */
    }

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: .5rem;
}

    .card-body #plant-name {
        color: #007bff;
    }

    .card-body #price {
        color: #333;
    }
