#fidan-burada-price-result {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem; /* Kartlar arasýndaki boþluk */
}

    #fidan-burada-price-result .card-wrapper {
        flex: 1 1 calc(33.333% - 1rem); /* Kartlarýn geniþliði %33.333 - 1rem */
        max-width: calc(33.333% - 1rem); /* Kartlarýn maksimum geniþliði %33.333 - 1rem */
        margin-bottom: 1rem; /* Alt boþluk */
    }

.card-wrapper .card {
    width: 100%;
    border: 1px solid rgba(0, 128, 0, 0.25);
    border-radius: .25rem;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s;
}

    .card-wrapper .card:hover {
        transform: scale(1.05); /* Hover durumunda büyüme efekti */
    }

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: .5rem;
}

    .card-body #plant-name {
        color: #007bff;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .card-body #price {
        color: #333;
    }

/* 1366x768 ekran çözünürlüðü için ek düzenlemeler */
@media (max-width: 1366px) {
    #fidan-burada-price-result .card-wrapper {
        flex: 1 1 calc(50% - 1rem); /* Kartlarýn geniþliði %50 - 1rem */
        max-width: calc(50% - 1rem); /* Kartlarýn maksimum geniþliði %50 - 1rem */
    }
}

@media (max-width: 768px) {
    #fidan-burada-price-result .card-wrapper {
        flex: 1 1 100%; /* Kartlarýn geniþliði %100 */
        max-width: 100%; /* Kartlarýn maksimum geniþliði %100 */
    }
}
