@using System.Security.Claims
@if (User.Identity!.IsAuthenticated)
{
    
    var userName = User.Identity.Name;
    if (userName.Length > 10)
    {
        userName = userName.Substring(0, 10) + "..";
    }

    @if (User.HasClaim(x => x.Type == ClaimTypes.Role && x.Value == "Admin"))
    {
        <a class="text-danger me-4" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Admin</a>
    }

    <div class="ui compact menu border border-white" style="background-color: transparent;">
        <div class="ui simple dropdown item  text-white">
            @if (ViewData["PictureUrl"] == null)
            {
                <img class="ui avatar image me-3" src="~/uploads/userPictures/defaultUserPhoto.jpg">
            }
            else
            {
                <img class="ui avatar image me-3" src="~/uploads/userPictures/@ViewData["PictureUrl"]">
            }
            @userName.ToLower()
            <i class="dropdown icon"></i>
            <div class="menu fs-5 border border-white" style="background-color: transparent;">
                <a class="item" asp-controller="Member" asp-action="Index"><i class="bi bi-person-fill text-white me-2 d-flex justify-content-center"></i></a>
                <a class="item" asp-controller="Member" asp-action="EditUser"><i class="bi bi-gear-fill text-white me-2 d-flex justify-content-center "></i></a>
                <a class="item" asp-controller="Member" asp-action="LogOut" asp-route-returnurl="/Home/Index"><i class="bi bi-box-arrow-right text-white me-2 d-flex justify-content-center"></i></a>
            </div>

        </div>
    </div>
}
@* else
{
    <div>
        <a class="ui yellow button me-3" asp-controller="Home" asp-action="SignUp">Üye ol</a>
    </div>
    <div>
        <a class="ui green button me-3" asp-controller="Home" asp-action="SignIn">Giriş yap</a>
    </div>
} *@